    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .left {
        max-width: 600px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        animation-name: left;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-delay: 0.2s;
    }
    
    .right {
        max-width: 600px;
        padding-top: 30px;
    }
    
    .right img {
        max-width: 600px;
        flex: 1;
        transition: 1s;
        filter: grayscale(10);
        &:hover {
            transition: all 2s;
            filter: none;
        }
    }
    
    .contacts__header>h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 55px;
        color: $black;
        margin: 0;
    }
    
    .contacts__header>h4 {
        font-family: 'Julius Sans One', sans-serif;
        color: $black;
        margin-top: 10px;
        font-weight: normal;
        font-size: 15px;
        color: rgba($black, .4);
    }
    
    .form {
        max-width: 80%;
        display: flex;
        flex-direction: column;
    }
    
    .form>p {
        text-align: right;
    }
    
    .form>p>a {
        color: #000;
        font-size: 14px;
    }
    
    .form-field {
        height: 46px;
        padding: 0 16px;
        border: 2px solid #ddd;
        border-radius: 4px;
        font-family: 'rALEWAY', sans-serif;
        letter-spacing: 1PX;
        text-transform: uppercase;
        color: $black;
        outline: 0;
        transition: .2s;
        margin-top: 20px;
    }
    
    .form-field:focus {
        border-color: rgba($color: $black, $alpha: 0.7)
    }
    
    .form>button {
        padding: 12px 10px;
        border: 0;
        background: linear-gradient(to right, #f1f1f1 0%, #e0e0e0 100%);
        border-radius: 3px;
        margin-top: 10px;
        color: #fff;
        letter-spacing: 1px;
        font-family: 'Julius Sans One', sans-serif;
        color: $black;
        cursor: pointer;
    }
    
    .contacts__social-logo-wrapper {
        width: 80%;
        max-width: 260px;
        display: flex;
        justify-content: space-between;
    }
    
    .contacts__social-logo-item {
        margin-top: 10px;
        width: 65px;
        height: 65px;
        transition: all ease-in-out 100ms;
        filter: brightness(0.95);
        &:hover {
            transition: all ease-in-out 100ms;
            filter: brightness(1.00);
        }
    }
    
    .contacts__social-title {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 35px;
        color: $black;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    
    .contacts__social-subtitle {
        font-family: 'Julius Sans One', sans-serif;
        color: $black;
        margin-top: 5px;
        font-weight: normal;
        font-size: 15px;
        color: rgba($black, .4);
    }
    
    .animation {
        animation-name: move;
        animation-duration: 0.6s;
        animation-fill-mode: both;
        animation-delay: 0.5s;
    }
    
    .a1 {
        animation-delay: 0.5s;
    }
    
    .a2 {
        animation-delay: 0.6s;
    }
    
    .a3 {
        animation-delay: 0.7s;
    }
    
    .a4 {
        animation-delay: 0.8s;
    }
    
    .a5 {
        animation-delay: 0.9s;
    }
    
    .a6 {
        animation-delay: 1s;
    }
    
    @keyframes move {
        0% {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-40px);
        }
        100% {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
    
    @keyframes left {
        0% {
            opacity: 0;
            width: 0;
        }
        100% {
            opacity: 1;
            padding: 5px;
            width: 440px;
        }
    }
    
    @media screen and (max-width: 1280px) {
        .desktop-nav {
            display: none;
        }
        .nav-toggle {
            display: block !important;
        }
    }
    
    @media screen and (max-width: 1024px) {
        .header__logo {
            font-size: 35px;
        }
        .contacts__header {
            text-align: center;
        }
        .form {
            margin: 0 auto;
            width: 100%;
        }
        .right {
            display: none;
        }
        .right img {
            display: none;
        }
        .left {
            margin: 0 auto;
        }
    }