@import '_variables.scss';
.header {
    font-family: 'Julius Sans One', sans-serif;
    // font-family: 'Six Caps', sans-serif;
    color: $black;
    font-size: 50px;
    // width: 100%;
    max-width: 1400px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.header__logo {
    letter-spacing: 12px;
    padding-bottom: 2px;
    cursor: pointer;
}

.header__logo a {
    text-decoration: none;
    color: $black;
}

.header__nav {
    flex-direction: row;
}

.header__nav-item {
    font-family: 'Julius Sans One', sans-serif;
    // font-family: 'Six Caps', sans-serif;
    font-size: 18px;
    vertical-align: bottom;
    margin-right: 5px;
    text-decoration: none;
    color: $black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    border-bottom: 1px solid rgba($color: $black, $alpha: 0)
}

.active {
    border-bottom: 1px solid $black;
}

.header__nav-item:hover {
    border-bottom: 1px solid rgba($color: $black, $alpha: 1);
    transform: scaleX(1);
    transition: all 0.8s;
}

.header__nav-item a::after {
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1280px) {
    .desktop-nav {
        display: none;
    }
    .nav-toggle {
        display: block !important;
    }
}