@import '_variables.scss';
.header {
    font-family: 'Julius Sans One', sans-serif;
    // font-family: 'Six Caps', sans-serif;
    color: $black;
    font-size: 50px;
    width: 100%;
    max-width: 1400px;
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.header__logo {
    letter-spacing: 12px;
    padding-bottom: 2px;
}

.header__nav {
    flex-direction: row;
}

.header__nav-item {
    font-family: 'Julius Sans One', sans-serif;
    // font-family: 'Six Caps', sans-serif;
    font-size: 18px;
    vertical-align: bottom;
    margin-right: 5px;
    text-decoration: none;
    color: $black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.active {
    border-bottom: 1px solid $black;
}

.header__nav-item:hover {
    border-bottom: 1px solid $black;
    transform: scaleX(1);
}

.header__nav-item a::after {
    border-bottom: 1px solid black;
}