.personal__shooting-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 36px;
}

.personal__shooting-name-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 26px;
    margin: 50px 0;
}

.personal__shooting-card-wrapper {
    width: 100%;
    max-width: 1380px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .personal__shooting-card-wrapper {
        justify-content: space-around;
    }
}