.packages {
    border-top: 1px solid #212931;
    border-bottom: 1px solid #212931;
}

a {
    text-decoration: none;
    color: #212931;
}

.packages__title {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 50px;
    letter-spacing: 12px;
    margin-top: 60px;
}

.packages__subtitle {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
    letter-spacing: 4px;
}

.packages__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.item__img-container {
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addpackages-item__img-container {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addpackages-item__title {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    background-color: #F1F1F1;
    height: 45px;
    & p {
        padding-top: 10px;
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size: 24px;
        letter-spacing: 2px;
    }
}

.addpackages-item__description {
    box-sizing: border-box;
    display: block;
    width: 630px;
    margin: 0 auto;
    margin-top: 16px;
    background-color: #F1F1F1;
    padding: 20px;
}

.addpackages-item__description-list {
    list-style: none;
    font-family: "Raleway", sans-serif;
    max-width: 500px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.item__title {
    width: 100%;
    max-width: 430px;
    background-color: #F1F1F1;
    height: 45px;
    & p {
        padding-top: 10px;
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size: 24px;
        letter-spacing: 2px;
    }
}

.item__description {
    box-sizing: border-box;
    display: block;
    width: 430px;
    background-color: #F1F1F1;
    padding: 20px;
}

.item__description-list {
    list-style: none;
    font-family: "Raleway", sans-serif;
    max-width: 400px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.item__button-price {
    padding: 12px 10px;
    border: 0;
    width: 230px;
    display: block;
    margin: 0 auto;
    background: linear-gradient(to right, #f1f1f1 0%, #e0e0e0 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Julius Sans One', sans-serif;
    color: $black;
    cursor: pointer;
    opacity: 0.7;
    transition: all .5s;
    &:hover {
        transition: all .5s;
        opacity: 1;
        background: linear-gradient(to right, #bebebe 0%, #e6e6e6 100%);
    }
}

.addpackages-item__button-price {
    padding: 12px 10px;
    border: 0;
    width: 430px;
    display: block;
    margin: 0 auto;
    background: linear-gradient(to right, #f1f1f1 0%, #e0e0e0 100%);
    border-radius: 3px;
    margin-top: 12px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    color: $black;
    cursor: pointer;
    font-weight: 300;
    opacity: 0.7;
    transition: all .5s;
    &:hover {
        transition: all .5s;
        opacity: 1;
        background: linear-gradient(to right, #bebebe 0%, #e6e6e6 100%);
    }
}

.packages__description-title {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 50px;
    letter-spacing: 6px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.packages__description-text {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: block;
    text-align: left;
    margin-bottom: 60px;
}

.packages__description-item {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 30px;
    list-style: circle;
}

.animation {
    animation-name: move;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.a1 {
    animation-delay: 0.5s;
}

.a2 {
    animation-delay: 0.6s;
}

.a3 {
    animation-delay: 0.7s;
}

.a4 {
    animation-delay: 0.8s;
}

.a5 {
    animation-delay: 0.9s;
}

.a6 {
    animation-delay: 1s;
}

@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        padding: 5px;
        width: 440px;
    }
}