.packages {
    border-top: 1px solid #212931;
    border-bottom: 1px solid #212931;
}

.packages__title {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 50px;
    letter-spacing: 12px;
    margin-top: 60px;
}

.packages__subtitle {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 4px;
}

.packages__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.packages__description-title {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 50px;
    letter-spacing: 6px;
    margin-top: 60px;
}

.packages__description-text {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: block;
    text-align: left;
}